<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="page_head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>My Store</title>

        <style>
        .layout-container {
            display: flex;
            width: 100%;
            min-height: 300px;
        }

        .left-column {
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        .top-div,
        .bottom-div {
            flex: 1;
            padding: 20px;
            box-sizing: border-box;
        }

        .top-div {
            background-color: #f0f0f0;
        }

        .bottom-div {
            background-color: #dcdcdc;
        }

        .right-div {
            width: 50%;
            padding: 20px;
            background-color: #cfcfcf;
            box-sizing: border-box;
        }

    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" th:fragment="page_navbar">
        <a class="navbar-brand" href="/">My Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/aboutus">About Us</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/create" class="btn btn-outline-dark position-relative">
                    <i class="bi bi-basket3"></i>
                    <span class="position-absolute badge badge-dark" style="top:-5px; right:-10px;">
                        0
                    </span>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="album py-5 bg-light" th:fragment="page_menuitems">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/IMG_7363.JPG" class="card-img-top img-fluid" alt="Brown butter sea salt toffee blondie">
                        <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">1 Blondie</text></svg>-->
                        <div class="card-body">
                            <b class="card-text">Brown Butter Sea Salt Toffee Blondies</b>
                            <p class="card-text">The OG flavour. Rich brown butter blondies studded with buttery toffee, topped with a smooth coating of dark chocolate, 
                                and finished with a touch of flaky sea salt for the perfect balance of deep caramel flavor and sweetness.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">+</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">-</button>
                                </div>
                                <small class="text-muted">$3.50</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/IMG_7363.JPG" class="card-img-top img-fluid" alt="Brown butter sea salt toffee blondie">
                        <div class="card-body">
                        <b class="card-text">Brown Butter Sea Salt Toffee Blondies (Box)</b>
                        <p class="card-text">A box of 10 indulgent brown butter sea salt toffee blondies, freshly baked and perfect for sharing, gifting, or treating yourself.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">+</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">-</button>
                                </div>
                                <small class="text-muted">$30</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>



    <footer class="border-top bg-light text-muted text-center" th:fragment="page_footer">
        <div class="container pb-5">
            &copy; [[${#dates.format(#dates.createNow(), 'yyyy')}]] - My Store
        </div>

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>